html {
    font-size: 16px;
}
:root{
    --background: hsla(0,0%,100%,1);
    --foreground: hsla(0, 0%, 10%, 1);
    --text-dark: hsl(0,0%,0%);
    --shadow: hsl(0,0%,90%);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
    transition: all 0.2s ease-in-out;
}
body{
    height:100vh;
    background-color: var(--background);
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    align-items: center;
    box-shadow: 0px -2px 5px 2px var(--shadow);
}
.title{
    display: flex;
    align-items: center;
}
.title-name{
    font-size: 1.3rem;
    display:inline;
    color: var(--text-dark);
}
nav{
    display: flex;
    gap:0.5rem;
}
nav>a{
    text-decoration: none;
    color: var(--foreground);
    font-size: 0.7rem;
    font-weight: 500;
}
.hero{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.slogan{
    width: 15rem;
    margin: 2rem;
    color: var(--text-dark);
}
.cta{
    padding: 0.7rem 1.1rem;
    border-radius:0.4rem;
    font-size: 0.8rem;
    background-color: var(--foreground);
    color:var(--background);
    font-weight: 500;
    border:none;
    margin: 1.5rem 0 3rem 0;
}
.features{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    margin-bottom:5rem;
}
.tile{
    border-radius: 1rem;
    padding:1rem 0.9rem;
    width:13rem;
    height:11.5rem;
    box-shadow: 0px 0px 4px 1px var(--shadow)
}
.tile-h{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.tile-h>h3{
    font-size: 1rem;
    color: var(--text-dark);
}
.tile>p{
    font-size: 0.8rem;
    color: var(--text-dark);
}
footer{
    display:flex;
    justify-content: center;
    padding:0.2rem;
}
footer>p{
    font-size: 0.5rem;
    color: var(--foreground);
}
a:hover{
    scale: 1.05;
    cursor: pointer;
}
a:active{
    scale: 0.95;
}
.cta:hover{
    box-shadow: inset 0 0 0 1.5px var(--text-dark);
    background-color: var(--background);
    color: var(--text-dark);
    cursor: pointer;
}
.cta:active{
    scale: 0.95;
}
.tile:hover{
    scale: 1.05;
    cursor: pointer;
}
@media (min-width: 600px){
    html{
        font-size: 16px;
    }
}
@media (min-width: 768px){
    html{
        font-size: 18px;
    }
    .features{
        flex-direction: row;
        justify-content: center;
    }
}
@media (min-width: 1024px){
    html{
        font-size: 20px;
    }
    .features{
        flex-direction: row;
        justify-content: center;
    }
}
@media (min-width: 1440px){
    html{
        font-size: 25px;
    }
    .features{
        flex-direction: row;
        justify-content: center;
    }
}